<div class="text-center">>
  <h1>This is the Author Detail</h1> 
</div>
<div style="width:70%; margin:auto">
  <table class="dashboard-table table" data-toggle="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Date of Birth</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= @author.full_name %>
        </td>
        <td><%= @author.dob.present? ? (@author.dob) : "-" %></td>
        <td>
          <%=link_to "Edit", edit_author_path(@author), data: { turbolinks: false } %> | <%=link_to "Destroy", author_path(@author), method: :delete, data: { confirm: "Are you sure?" } %> 
        </td>
      </tr>
    </tbody>
  </table>
</div>