<div class="text-center">
  <h1>Welcome to the App</h1>
</div>
<div class="text-center">
  <%= link_to "Add Author", new_author_path, class: "btn btn-primary" %> |  <%= link_to "Add Book", new_book_path, class: "btn btn-primary" %>
</div>
